<section id="header">
  <div class="header header-container">
    <div class="header__nav-bar">
      <div class="header__brand">
        <a href="#hero">
          <img src="assets/images/homeLogo.png" alt="">
        </a>
      </div>

      <div class="header__nav-list">
        <div class="hamburger" (click)="toggle()">
          <div class="bar"></div>
        </div>

        <ul>
          <li><a href="#header" data-after="Home">Home</a></li>
          <li><a href="#projects" data-after="Projects">Blogs</a></li>
          <li>
            <a  id="loginLogout" href="#about" data-after="About">Sign up or Login</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
